---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const courses = await getCollection("courses");
	const authors = await getCollection("authors");

	return courses.map((course) => ({
		params: { slug: course.slug },
		props: {
			course,
			authors: course.data.authors.map((a) =>
				authors.find((b) => b.id === a.id),
			),
		},
	}));
}

type Props = {
	course: CollectionEntry<"courses">;
	authors: CollectionEntry<"authors">[];
};

const { course, authors } = Astro.props;
const { Content } = await render(course);
---

<Layout class="prose">
	<h1>
		{course.data.title}
	</h1>
	<p class="flex flex-row w-fit">
		<span>Authors:&nbsp;</span>
		{
			authors.map((author, i) =>
				i > 0 ? (
					<>
						<span>,&nbsp;</span>
						<a href={`/author/${author.id}`}>{author.data.name}</a>
					</>
				) : (
					<a href={`/author/${author.id}`}>{author.data.name}</a>
				),
			)
		}
	</p>
	<article>
		<Content />
	</article>
</Layout>
